body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
}
header{
    background-color: rgb(235, 128, 128);
    color: rgb(11, 11, 11);
    padding-left:2%;
    float: right;
    width: 100%;
    position: fixed;
}
header p{
    margin: 7%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-transform: uppercase;
    font-weight: 800;
    float: left;
    margin-right: 20%;
}
header div {
    float: left;
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
}
header div:hover {
    background-color: rgb(127, 64, 64);
}
main {
    margin-top: 4%;
    padding: 3%;
    width: 60%;
    background-color: rgb(172, 150, 150);
    float: left;
}
main p {
    font-size: large;
    line-height: 40px;
}
side {
    margin: 1%;
    margin-top: 6%;
    float:left;
    border: 1px solid;
    background-color: rgb(184, 178, 178);
    padding: 2%;
    width: 27%;
    text-align: center;
}
side img {
    width: 300px;
}
aside ul {
    list-style: none;
}
footer {
    border: 2px solid;
    margin: 2%;
    padding: 3%;
    float: left;
    width: 80%;
}
footer div {
    text-align: center;
    float: left;
    background-color: rgb(234, 215, 190);
    padding: 20px;
    margin-right: 15px;
}
footer div:hover{
    background-color: rgb(123, 106, 69);
}
footer div img {
    width: 100px;
    height: 150px;
}
